@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;600&family=Poppins:wght@100;200;300;400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  color: #000;
  font-family: "inter", sans-serif;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.general {
  height: 100vh;
  margin-inline: auto;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
}
.nav {
  display: flex;
  gap: 50px;
}

a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: red;
  opacity: 0.4;
}
.container {
  display: grid;
  grid-template-areas:
    "webdesk webdesk new"
    "bold text new";
  grid-auto-rows: 14rem;
  grid-auto-columns: 21rem;
  gap: 2rem;
  padding-top: 20px;
}
.menu {
  display: none;
}

.hid {
  display: none;
}
.img1 {
  grid-area: webdesk;
}

#webdesk {
  height: 100%;
  width: 100%;
}
#mobiledesk {
  display: none;
}
.bold {
  font-size: clamp(1.8rem, 2.5vw, 2.2rem);
  font-weight: 600;
  grid-area: bold;
}
.text {
 
  font-size: 15px;
  grid-area: text;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.textstyle {
  text-align: center;
  padding: 3px;
  background-color: hsl(5, 85%, 63%);
  color: #fff;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.new {
  grid-area: new;
  background-color: hsl(240, 100%, 5%);
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 30px;
}
.inner {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.smlbx {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.retro {
  display: flex;
  gap: 20px;
  padding-top: 20px;
  width: 350px;
}
.designs {
  display: flex;
  flex-wrap: wrap;
  
}
p {
  color: hsl(300, 8%, 70%);
  font-size: 13px;
}
@media screen and (max-width: 1075px) {
  .top {
    justify-content: space-evenly;
  }

  .container {
    display: grid;
    grid-template-areas:
      "webdesk webdesk"
      "new text"
      "new bold";
    grid-auto-rows: 18rem;
    grid-auto-columns: 31rem;
  }
}
@media screen and (max-width: 940px) {
  .container {
    grid-auto-rows: 14rem;
    grid-auto-columns: 23rem;
  }
}
@media screen and (max-width: 730px) {
  .container {
    grid-auto-rows: 18rem;
    grid-auto-columns: 19rem;
  }
}
@media screen and (max-width: 540px) {
  /* .container {
    grid-auto-rows: 17rem;
    grid-auto-columns: 16rem;
  } */
}
@media screen and (max-width: 500px) {
  .top {
    display: flex;
    justify-content: space-between;
  }
  .nav {
    display: none;
  }
  .menu {
    display: block;
  }
  /* .container {
    grid-auto-rows: 19rem;
    grid-auto-columns: 12rem;
  } */
  #webdesk {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  #webdesk {
    display: none;
  }
  #mobiledesk {
    height: 100%;
    width: 100%;
    display: block;
  }
  .container {
    display: grid;
    grid-template-areas:
      "webdesk"
      "bold"
      "text"
      "new";
    /* grid-auto-rows: 13rem;
    grid-auto-columns: 21rem;
    gap: 0; */
  }
  .top {
    padding-top: 0;
  }
  .new {
    height: 450px;
  }
  .designs {
    padding-top: 279px;
  }
  .new {
    gap: 35px;
  }
}
@media screen and (max-width: 414px) {
  .top {
    padding-top: 0;
  }
}

@media screen and (max-width: 500px) {
  .container {
    grid-auto-columns: 316px;
    grid-auto-rows: 200px 190px 149px 170px;
    gap: 0;
  }
  .new {
    gap: 39px;
    padding: 24px;
  }
  .general {
    width: min(110% - 9vw, 1110px);
  }
  .retro {
    width: 300px;
  }

  #mobiledesk {
    height: 100%;
    width: 100%;
    display: block;
  }
  .top {
    display: flex;
  }
  body {
    box-sizing: border-box;
  }
}